
.about{
    padding-bottom: 48px;

}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.about-picture{
    height: 420px;

}
.about-info{
    font-size: 24px;
}
.info-name{
    color: blue;
    font-size: 32px;
}
.info-name1{
    color: blue;
    font-size: 32px;
}
.about-bottom{
    display: flex;
    justify-content: space-around;
}
.about-picture1{
    height: 400px;
}

.info{
    text-align: center;
    margin-right: 5rem;
}
.small{
    font-size: 18px;
    text-align: center;
    margin-left: 2rem;
    margin-right: 10rem;
}

.movable{
    padding-top: 5rem;
}
#int{
    text-align: center;
}
    
@media only screen and (max-width:720px){
    .about-bottom{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .about-top{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .about-picture{
        height: 295px;
    }
    .about-info{
        margin-top: 1.5em;
        font-size: 20px;
    }
    .info-name{
        font-size: 24px;
        
    }
    .info{
        text-align: center;
    }
    .small{
        font-size: 18px;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .movable{
        padding: none;
    }
    .about-photo{
        height: 210px;
    }
    
}